*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.heading{
    font-size: 18px;
}
.time{
    font-size: 12px;
    padding-left: 5px;
    color:#a5adc2;
}

.horizontalColoring{
    color:#a5adc2;
    margin-bottom: 0;
}

#main{
    height: 1200px;
}

.clear{
    clear: both;
}
.moveLeft{
    float: left;
}
.moveRight{
    float: right;
}
.fs-14{
    font-size: 14px;
}

/* .elementHeight{
    height: 120px;
}
.fs-12{
    font-size: 12px;
}
.smallWidth{
    width: 3%;
}
.largeWidth{
    width: 96%;
}


.timeColor{
    color: #a5a7a8;
} */
